---
import Layout from "@/layouts/Base";
import SocialMediaLinks from "@/components/SocialMediaLinks";
---

<Layout
	title="About Me"
	description="About me;lulshi;lulu Shi;lulu Shi"
	image="/blog-placeholder-about.jpg"
>
	<h1 class="title">About me</h1>
	<p>
	Lulu Shi
	</p>
	<p>
	史露露
	</p>


	<h1 class="title mt-2">Educations</h1>
	<ul class="list-inside list-disc">
		<li>2017–2021, B.S, Jilin University, Animal Science </li>
		<li>2021–2024, M.S, Jilin University, Zootechny </li>
		<li>2024–Now, Ph.D, West China Hospital of Sichuan University, Clinical Medicine (<a
			class="cody-link inline-block"
			href="https://wuyang-lab.github.io/Wulab/"
			target="_blank"
			rel="noopener noreferrer"
		>
		WuLab
		</a>)
		</li>
	</ul>
	<h1 class="title mt-2">Research Interest:</h1>
	   <ul class="list-inside list-disc">
			<li>Statistical Genetics (complex trait ~ omics)</li>
			<li>Population Genetics (demographic evolution)</li>
			<li>ethod development</li>

		</ul>
	<h1 class="title mt-2">I'm contributing to the community:</h1>
	<img src="https://github-readme-stats.vercel.app/api?username=Crazzy-Rabbit&include_all_commits=false&theme=swift&show_icons=true&count_private=true&include_orgs=true" alt="">

	<h1 class="title mt-2">Which language I prefer:</h1>
	<img src="https://github-readme-stats.vercel.app/api/top-langs/?username=Crazzy-Rabbit&layout=compact&theme=swift" alt="">

	<hr />
    <div>
    <span>You can find me in:</span>
        <SocialMediaLinks />
    </div>
</Layout>
